.stars-container {
  margin-bottom: 15px;
}

.stars-container .big-star {
  background: url(images/stars-sprite.png) no-repeat;
  width: 46px;
  height: 45px;
  background-position: -6px -387px;
  outline-width: 0;
  background-size: 326px 550px;
  float: left;
}


.stars-container .big-star.highlight {
  background-position: -97px -387px;
}

.stars-container .big-star.highlight.hover, .rating .stars-container .big-star.hover {
  background-position: -51px -387px;

}

.big-star:hover, .big-star.highlight:hover{
  background-position: -51px -387px;

}
