<div class="stars-container">
  <div class="big-star clickable rating-1"></div>
  <div class="big-star clickable rating-2"></div>
  <div class="big-star clickable rating-3"></div>
  <div class="big-star clickable rating-4"></div>
  <div class="big-star clickable rating-5"></div>
  <div class="clear"></div>
</div>
