<div class="stars-container">
  <div class="big-star"></div>
  <div class="big-star"></div>
  <div class="big-star"></div>
  <div class="big-star"></div>
  <div class="big-star"></div>

  <div class="clear"></div>
</div>
