<div class="stars-container">
  {{#each stars as |star|}}
    {{star-container index=star.index model=model active=(star-rated star.index model.rating) rate=(action attrs.rate)}}
  {{/each}}
  <div class="clear"></div>
</div>
