<div class="item-image" style="background-image:url({{model.image}});"></div>

<div class="item-content">
  <h2 class="item-name">
    <span>{{model.name}}</span>
    <span class="item-brand">
      <span >made by </span>
      <a href="" >{{model.brand}}</a>
    </span>
  </h2>
  <!-- <h4>
    <span>Posted on </span>
    <span>December 9, 2015</span>
  </h4> -->

{{star-list rate=(action attrs.rate) model=model}}
  <!-- <div>
    <h3 class="title">Love this Beer!</h3>
    <span><p>Goes down smooth.</p></span>
  </div> -->
</div>
<div class="clear"></div>
