<h1 id="title">My Ratings</h1>
<ul>
    <li>
        {{#link-to "beer"}}Beers{{/link-to}}
    </li>
    <li>
        {{#link-to "movies"}}Movies{{/link-to}}
    </li>
    <li>
        {{#link-to "desserts"}}Desserts{{/link-to}}
    </li>
</ul>


{{outlet}}
